<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <p>Show</p>
  <% end %>
<!--12章で追加。-->
<%= render 'new', books: @books %>
  
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpeg' %></p>
  <!--<p>投稿ユーザー画像：< %= image_tag @book.user.get_profile_image(100,100) %></p>-->
  <!--17章を元に変更しようとしたらshowの方でNameErrprが-->
  <p>Title : <%= book.title %></p>
  <p>Opinion : <%= book.body %></p>
</div>
<% end %>
<!--11章を元に追加-->