<!--このページは削除して各ページに投稿フォームを作り部分テンプレートで統一-->
<h1>投稿フォーム</h1>
<%= form_with model: @book do |f| %>

<% if @book.errors.any? %>
<%= @book.errors.count %>件のエラーが発生しました。
 <ul>
   <% @book.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
 </ul>
 <% end %>

    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit '投稿' %>
  <% end %>
