<div><!--12章で作成-->
<%= render 'users/user-info', user: @user %>
<%= render 'new', books: @book %>
<h2>本の詳細</h2>
</div>
<div>
  <p>投稿ユーザー画像：<%=image_tag 'no_image.jpg' %></p>
  <p>Title:<%= @bookfind.title %></p>
  <p>Opinion:<%= @bookfind.body %></p>
  <%= link_to "編集", edit_book_path(@bookfind.id) %>
  <!--<p>投稿ユーザー画像：< %= image_tag @book.user.get_profile_image(100,100) %></p>-->
  <!--17章を元にNameErrorが出る-->
  <p>ユーザーネーム：<%= @bookfind.user.name %></p>
  <p>投稿日：<%= @bookfind.created_at.strftime('%Y/%m/%d') %></p>
  <!--投稿日は必要なし-->
  <% if @bookfind.user == current_user %>
   <%= link_to "削除", book_path(@bookfind), method: :delete %>
  <% end %>
   <!--削除は13章を元に記述。遷移先はこのままで-->
</div>